<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724167574579-3s7akt46tokmnl1htneedhrcemv83irv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724167574579-3s7akt46tokmnl1htneedhrcemv83irv</string>
	<key>API_KEY</key>
	<string>AIzaSyDfoB8c6N2GDpQP-35DHS4j8FOZspYEVQU</string>
	<key>GCM_SENDER_ID</key>
	<string>724167574579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emeraldhig.ultimateQuizApp</string>
	<key>PROJECT_ID</key>
	<string>ultimatequizapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ultimatequizapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724167574579:ios:6cea7412def2f2da3bcf46</string>
</dict>
</plist>